.admin-container {
    margin-top: 25px;    
    h4 {
        &.modal-title {
            background-color: #FFF;
            padding: 0;
            margin: 0;
        }
    }
    .modal-medium {
        width: 500px;
    }
}