.agent-header {
    width: 100%;
}

.agent-logo-container {
    position: relative;
    background-color: #8BCDDB;
    width: 100%;
    height: 270px;
}

.agent-logo, .agent-circle {
    position: absolute;
    background-color: #FF3B7B;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 28px;
    font-weight: 500;
}

.agent-logo {
    right: 35px;
    top: 35px;
    width: 200px;
    height: 200px;
    line-height: 200px;
}

.agent-circle {
    border-radius: 50%;
    top: 180px;
    left: 50px;
    width: 180px;
    height: 180px;
    line-height: 180px;
    box-shadow: 0px 0px 0px 8px rgba(255,255,255,1);
}

.agent-title {
    text-align: center;
    margin-top: 30px;

    .agent-badge {
        font-size: 28px;
    }

    .agent-name {
        text-transform: uppercase;
        font-size: 28px;
        font-weight: 700;
    }

    .agent-star {
        height: 27px;
        margin-top: -13px;
    }
}

.agent-verified {
    margin-left: calc(50% - 168px);
    background-color: #5392aa;
    width: 95px;
    height: 26px;
    padding-top: 4px;
    color: white;
    font-weight: bold;

    .glyphicon {
        margin-right: 10px;
        margin-left: 10px;
    }
}

.agent-search-verified {
    background-color: #5392aa;
    width: 72px;
    height: 20px;
    padding-top: 4px;
    padding-right: 5px;
    color: white;
    font-weight: bold;
    font-size:10px;
    margin-left: 25%;
    float: left;

    .glyphicon {
        margin-right: 10px;
    }
}

.agent-details {
    display: flex;
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 16px;
    border-collapse: separate; 
    border-spacing: 1px 15px;

    .agent-left-details, .agent-right-details {
        flex: 1;
        display: table-column;
    }

    .agent-detail-title {
        font-weight: bold;
        display: table-row;
        white-space: nowrap;
        text-overflow: ellipsis;

        span.single {
            display: table-cell;
            font-weight: normal;
        }
    }
}

.agent-contact {
    flex: 2;
    background-color: #D2E1E6;
    padding: 20px 20px 20px 20px;
    margin-top: 47px;
    height: 446px;

    p {
        text-align: center;
        font-weight: bold;
        font-size: 20px;
    }

    form {
        label {
            margin-right: 10px;
            margin-bottom: 10px;
            color: #F7FEFE;
            width: 20%;
            font-size: 15px;
        }

        input {
            width: calc(80% - 10px);
            margin-bottom: 10px;
            padding: 3px 10px 3px 10px;
        }

        textarea {
            padding: 10px 10px 10px 10px;
            resize: none;
            width: 100%;
            height: 100px;
            margin-bottom: 10px;
        }

        .news {
            width: auto;
            margin-right: 5px;
        }
    }

    .submit {
        text-align: center;
        font-weight: bold;
        font-size: 18px;
        width: 100%;
        background-color: #598A91;
        border-color: #598A91;
        color: #284955;
        height: 50px;
        margin-top: 10px;
        border-radius: 10px;

        i {
            margin-right: 10px;
            color: yellow;
        }
    }
}

.project-page.agent-contact {
    background-color:#E8FBFF;
    border: 1px solid black;
    height: 680px;
    padding-top: 10px;

    .submit {
        color: white;
        font-weight: normal;
    }

    .project-info {

        hr {
            border-top:2px solid lightgray;
            margin:5px 0 10px 0;
        }

        .submit {
            color: yellow;
            height: 34px;
            width: 150px;
            text-transform: uppercase;
            font-size: 16px;
            margin-bottom: 20px;
            margin-left: calc(50% - 75px);
        }
    }

    hr {
        border-top: 1px solid black;
        margin: 0 -20px 15px -20px;

    }

    .project-info-flex {
        display: flex;
        align-items: center;
    }

    .project-info-img {
        flex: 1;
        padding-right: 20px;


        img {
            width: 100%;
            margin: auto;
        }
    }

    .project-info-text {
        flex: 2;
        p {
            text-align: left;
            font-size: 14px;
        }

        .project-p-bold {
            font-weight: bolder;
        }
    }


    form {
        label {
            color: #333;
        }
    }
}

.agent-comment {
    border: 1px solid #A4DFED;
    margin: 0 5px 10px 5px;
    padding: 10px 10px 10px 10px;
}

.agent-commenting {
    margin: 0px 10px 10px 10px;
    background-color:#F6FDFF;
    padding: 20px 20px 0px 20px;

    p {
        font-size:16px;
        color: gray;
    }
}

.agent-search {
    background-color: white;
    .float-bar {
        margin: auto -15px;
        /*width: calc(100% + 30px);*/
        &.titles {
            text-transform: uppercase;
            font-size: 14px;
            font-weight: bold;
            height: 24px;
            margin: 0 10px;
            div {
                display: inline-block;
                width: 180px;
            }
        }
    }



    .inputs {
        background-color: #EEEEEE;
        height: 50px;
        border-bottom: 1px solid gray;
        padding: 0 10px;
        .input {
            display: inline-block;
            padding: 0 10px 10px;
            width: 180px;
            &.agent-type {
                border-right:1px solid white;
                width: 230px;
                label {
                    display: inline-block;
                    padding: 0 10px;
                    font-weight: lighter;
                    cursor: pointer;
                    &.active {
                        color: #1677e3;
                        border-bottom:1px solid #1677e3;                        
                    }
                }
            }
            &.advanced {
                width: 125px;
                label {
                    font-weight: lighter;
                }                
            }
        }

        > div {
            height: 50px;
            white-space: nowrap;
            line-height: 50px;
            color: gray;
            > div {
                display: inline-block;
                margin-right: 10px;
                line-height: 43px;
            }

        }
        input {
            margin-top: 12px;
            height: 26px;
            width: 100%;
            padding: 2px 5px;
        }
        .advanced {
            width: 110px;
            border-right:1px solid white;
        }
    }
}