/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 16, 2016, 11:36:49 AM
    Author     : admin
*/

/** {
    font-family: Tahoma;
    color: #4a4a4a;
}*/

.ng-enter {
    transition: 1.5s;
    margin-top: 500px;
    opacity: 0;
}

.ng-enter-active {
    margin-top: 0;
    opacity: 1;
}

.title-link {
    border-top: 1px solid gray;
    position: absolute;
    width: 100%;
    left: 0px;
}

.back-button {
    float: right;
    margin-bottom: 20px;
}

.listing-header {
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 10px;
}

.listing-header-title {
    clear: right;

    h3 {
        float: left;
        margin: 0;
    }

    span {
        float: right;
    }
}

.ranking {
    clear: both;
    padding-top: 5px;
}

.ranking-star {
    height: 27px;
    padding-bottom: 5px;
}

.fit-to-parent {
    width: 100%;
}

.listing-highlights {
    display: flex;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.listing-highlight {
    flex: 1;
    text-align: center;

    img {
        width: 40%;
    }
    
    p {
        text-transform: uppercase;
        color: #008cb2;
        font-weight: 700;
    }
}

.listing-details {
    display: flex;
}

.listing-info {
    margin-right: 30px;
    flex: 5;
}

.listing-tab {
    background-color: #e8fbff;
}

.listing-tab > a {
    background-color: #a4dfed;
    border-top: 1px solid black !important;
    border-left: 1px solid black !important;
    border-right: 1px solid black !important;
    border-radius: 0 !important;
}

.listing-tab.active > a {
    background-color: #e8fbff !important;
}

.listing-tab-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    color: black;
}

.listing-tab-content {
    border: 1px solid black;
    display: flex;
    background-color: #e8fbff;
}

.content-titles1 {
    flex: 1;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;

    p {
        margin: 30px 20px 30px 20px;
    }
}

.content-titles2 {
    flex: 1;
    font-size: 14px;

    p {
        width: 90px;
        margin: 30px 20px 30px 20px;
    }
}

.content-facilities {
    flex: 3;

    .facility-line {
        width: calc(100% - 40px);
        margin: 30px 20px 30px 20px;
        /*display: flex;*/

        .facility {
            /*flex: 1;*/
            width: calc(100% / 6);
            float: left;
            text-align: center;
            margin-bottom: 20px;

            img {
                width: 80%;
            }
        }
    }
}

.content-details {
    flex: 3;

    p {
        margin: 30px 20px 30px 20px;
    }
}

.content-mortgage {
    width: 100%;
    margin: 30px 20px 30px 20px;
}

.content-mortgage > p {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
}

.mortgage-calculator {
    display: flex;
    margin-top: 20px;
}

.mortgage-result {
    flex: 4;
    position: relative;
    padding-right: 20px;
}

.mortgage-options {
    flex: 5;

    p {
        font-weight: 700;
        font-size: 13px;
        margin-top: 10px;
    }

    .mortgage-label {
        margin-bottom: 10px;
        margin-top: 10px;
    }
}

.mortgage-total {
    float: right;
    padding: 3px 30px 3px 30px;
    background-color: black;
    color: white;
}

.content-review {
    margin-bottom: 30px;
    width: 100%;

    p {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 14px;
        color: #0DB9F0;
    }

    .details {
        font-weight: 700;
        font-size: 14px;
    }

    img {
        width: 100%;
    }
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.comment-box {
    padding: 10px 20px;
    border: 2px solid #A4DFED;
    margin-bottom: 10px;

    .reply-no {
        font-weight: bold;
        color: #C5C5C5;
    }
}

.commenter {
    text-align: right;
    margin-bottom:20px;
}

.commenter-email {
    font-weight: bold;
    color: #0DB9F0;
}

.reply-box {
    padding: 10px 10px 40px 10px;
    border: 2px solid #A4DFED;
    margin: 10px 0px 10px 40px;
}


fieldset, label { margin: 0; padding: 0; }
body{ /*margin: 20px;*/ }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating,
.rating-passive,
.rating-blue,
.rating-blue-passive { 
  border: none;
  float: left;
}

.rating > input,
.rating-passive > input,
.rating-blue > input,
.rating-blue-passive > input { 
    display: none; 
} 

.rating > label:before,
.rating-passive > label:before,
.rating-blue > label:before,
.rating-blue-passive > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before,
.rating-passive > .half:before,
.rating-blue > .half:before,
.rating-blue-passive > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label,
.rating-passive > label,
.rating-blue > label,
.rating-blue-passive > label { 
  color: #ddd; 
  float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating-passive > input:checked ~ label { color: #FFD700;  }

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }

.rating-blue > input:checked ~ label, /* show gold star when clicked */
.rating-blue:not(:checked) > label:hover, /* hover current star */
.rating-blue:not(:checked) > label:hover ~ label { color: #8cd0de;  } /* hover previous stars in list */

.rating-blue-passive > input:checked ~ label { color: #8cd0de;  }

.rating-blue > input:checked + label:hover, /* hover current star when changing rating */
.rating-blue > input:checked ~ label:hover,
.rating-blue > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating-blue > input:checked ~ label:hover ~ label { color: #8cd0de;  }

.uploader {
  position:relative; 
  overflow:hidden; 
  width:120px; 
  height:120px; 
  background-color: lightgray;
  border:2px dashed gray;
  margin-right: 20px;
  margin-left: 10px;
}

.uploader:hover > .cover {
    filter: blur(3px);
}

#filePhoto, #filePhoto2, #filePhoto3 {
    position:absolute;
    width:120px;
    height:170px;
    top:-50px;
    left:0;
    z-index:3;
    opacity:0;
    cursor:pointer;

}

.uploader .uploaded{
    position:absolute;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:2;
    border:none;
}

.uploader .cover {
  position:absolute;
    width:50%;
    height:50%;
    z-index:1;
    border:none;
    top: 25%;
    left: 25%;

}

.listing-rooms {
    flex: 2;
    padding-top: 47px;
    width: 100%;
}

.listing-rooms-title {
    position: absolute;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    background-color: #A4DFED;
    padding-left: 21px;
    padding-top: 5px;
    padding-bottom: 4px;
    width: 210px;
    left: calc(50% - 105px);
    top: -17px;
}

.listing-rooms-content {
    padding-top: 80px;
    min-height: 80px;
    border: 3px solid lightgray;
    width: 100%;
    position: relative;

    > button {
        left: calc(50% - 105px);
    }

    button:nth-child(2) {
        left: calc(50% + 5px);
    }
}

.listing-rooms-button {
    border-radius: 0;
    width: 100px;
    position: absolute;
    margin-top: -57px;

    .selected {
        background-color: #E9FBFF;
        border: 1px solid black;
    }
}

.listing-room-list {
    max-height: 85vh;
    overflow-y: auto;
    padding: 20px 0px 0px 0px;
}

.listing-room {
    width: calc(100% - 20px);
    margin-left: 10px;
    border: 1px solid black;
    height: 350px;
    margin-bottom: 20px;
}

.listing-room-image {
    width: 100%;
    height: 250px;
    border: 2px solid lightgray;
}

.listing-room-details {
    width: 100%;
    padding: 10px 10px 10px 10px;

    div {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow-x: hidden;
        max-width: 240px;
    }
}

.map-container {
    width: calc(100% - 40px);
    margin: 20px 20px 20px 20px;
    height: 400px;
}