.ui-widget.ui-widget-content {
    border: none !important;
    border-top: 1px solid #EEE !important;

    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 450px;    
}

.big-banner-container {
    position: relative;
    height: 390px;
    overflow: hidden;

    img {
        max-width: 100%;
    }

    div.options-container {
        position: absolute;
        top: 120px;
        left: 0;
        right: 0;
        form {
            margin-top: 25px;
        }
    }

}

.home-search-options {
    width: 600px;
    margin: 0 auto;
    overflow: hidden;

    span {
        &.option {
            width: 150px;
            display: block;
            padding: 10px 15px;
            background-color: rgba(0,0,0,0.6);
            color: #FFF;
            float: left;
            border: 1px solid #FFF;
            border-right: none;
            cursor: pointer;

            &:last-child {
                border-right: 1px solid #FFF;
                /*width: 148px;*/
            }
            &.active {
                background-color: #16adc5;
            }
            &:hover {
                background-color: #16adc5;
            }
        }

    }

    input  {
        border-radius: 0;
        border: none;
    }

    button {
        border-radius: 0;
        border: 1px solid #FFF;
    }
}

.home-transportation-container {
    margin-top: 25px;

    a {
        display: block;
        float: left;
        width: 313px;
        text-align: center;
        margin-left: 50px;
        background: yellow;
        padding: 25px 0;
        text-decoration: none;
        height: 107px;

        img {
            max-width: 50px;
        }

        &.bts {
            background-color: #d8d8e4;
        }
        &.mrt {
            background-color: #cce1e4;
            img {
                margin-top: 7px;
            }
        }
        &.apl {
            background-color: #f0e7c9;
            img {
                margin-top: 3px;
            }
        }
    }
}

.ui-autocomplete {
    &.home-search {
        border: none;
        border-top: 1px solid #EEE;
        width: 598px;
        -webkit-box-shadow: -1px 2px 5px -2px rgba(0,0,0,0.75);
        -moz-box-shadow: -1px 2px 5px -2px rgba(0,0,0,0.75);
        box-shadow: -1px 2px 5px -2px rgba(0,0,0,0.75);

        li.poi-item {    
            display: block;
            list-style-image: none;
            overflow: hidden;
            width: 598px;
            &:hover {
                background-color: #EEE;    
                span {
                    background-color: transparent;
                    border: none;
                    margin: 0;
                }
                margin: 0;
            }
            span {
                display: inline-block;
                height: 36px;
                float: left;
                padding: 8px;
                font-family: 'Signika', sans-serif;
                color: #000;
                background-color: transparent;

                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;


                &.icon {
                    width: 30px;
                    background-position: 10px 10px;
                    background-repeat: no-repeat;
                    background-size: 20px;
                    opacity: 0.25;
                    &.train {
                        background-image: url('/img/maps/train.png');                        
                    }
                }
                &.name {
                    width: 468px;
                }
                &.poi-type {
                    width: 100px;
                    text-transform: uppercase;
                    font-weight: lighter;
                    opacity: 0.54;
                }
                &.more {
                    width: 559px;
                    opacity: 0.54;
                    float: right;
                    font-size: 12px;
                    height: 24px;
                    padding: 0;
                }
                &.ui-state-active {
                    background-color: transparent;
                    margin: 0;
                    color: #000;
                    border: none;
                }

            }        
        }
    }
}

.home-container {
    background-color: #FFF;
    width: 1037px;
    margin: 25px auto;
    overflow: hidden;

    .front-hero {
        margin: 5px;
        background-color: #42bfd3;
        overflow: hidden;
        h1 {
            text-align: center;
            margin-bottom: 30px;
            font-size: 30px;
            text-transform: uppercase;
            margin-top: 25px;
        }
        .hero-cell {
            text-align: center;
            width: 205px;
            float: left;
            margin: 0 25px 25px;
            img {
                width: 64px;
            }
            h3 {
                color: #F9FF4B;
                text-transform: uppercase;
                font-size: 22px;
            }
            p {
                color: #FFF;
            }
        }
    }

    .premium {
        margin: 0 7px;
        h3 {
            font-size: 26px;
            margin-top: 30px;
            margin-bottom: 20px; 
            em {
                color: #0075d2;
                font-style: normal;
            }
        }
        h4 {
            margin: 25px 0;
        }
        .premium-listings {

            .listing-item {
                width: 309px;
                height: 250px;
                position: relative;
                float: left;
                margin-right: 33px;
                background-color: #DDD;
                margin-bottom: 25px;

                &:nth-child(3n) {
                    margin-right: 0;
                }           

                .listing-info {
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: #f9f9f9;
                    padding: 6px 10px 3px;
                    color: #000;
                    margin-right: 0;
                    border-left: 1px solid #e1e1e1;
                    border-right: 1px solid #e1e1e1;
                    border-bottom: 1px solid #e1e1e1;

                    .property-type {
                        .fa {
                            color: #0494ac
                        }
                    }

                    .location {
                        .fa {
                            color: #1280df;
                        }
                    }

                    .price {
                        color: #cb1811;
                    }

                    .lname {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        margin: 5px 0;
                        font-size: 17px;
                    }
                }
            }
        }
    }

    .home-banner {
        margin: 0 7px;
    }
    .home-sale {
        margin: 0 7px;
    }
    .home-rent {
        margin: 0 7px;
    }
    .exclusive-listings {
        margin-bottom: 25px;
        overflow: hidden;
        .listing {
            position: relative;
            &.current-listing {
                width: 618px;
                height: 370px;
                float: left;
            }
            &.pending-listing {
                width: 120px;
                height: 120px;
                float: left;
                margin-bottom: 5px;
                margin-left: 5px;
            }
            .info {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                padding: 10px;
                background-color: rgba(0, 0, 0, 0.5);
                color: #FFF;
                p {
                    margin-bottom: 5px;
                }
            }
        }
    }
    .condo-community {
        margin: 0 7px 25px;
        
        h3 {
            font-size: 26px;
            margin-top: 30px;
            margin-bottom: 20px; 
            text-transform: uppercase;
            em {
                color: #0075d2;
                font-style: normal;
            }
        }
    }
}

.auth-container {
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 25px 15px;
    background-color: #FFF;

    h1 {
        margin: 10px 0 15px;
    }

    h4 {
        margin-bottom: 25px;
    }
}

.ribbon {
    position: absolute;
    left: -5px; top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px; height: 75px;
    text-align: right;
}
.ribbon span {
    font-size: 10px;
    font-weight: bold;
    color: #00599d;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 100px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#05EFF7 0%, #087F8F 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px; left: -21px;
    text-shadow: 1px 1px #fafe61;
}
.ribbon span::before {
    content: "";
    position: absolute; left: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid #087F8F;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #087F8F;
}
.ribbon span::after {
    content: "";
    position: absolute; right: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #087F8F;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #087F8F;
}
