
.poi-map {
    position: relative;
    h3 {
        margin-bottom: 15px;
        margin-top: 0;
    }
    .map {
        height: 500px;
    }
    .map-loader-mask {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.25);
        top: 70px;
        bottom: 0;
        left: 0;
        right: 0;
        display: none;
    }
    .poi-message {
        display: none;
    }
    .point-filters {
        strong {
            display: inline-block;
            float: left;
            margin-top: 1px;
        }
        label {
            display: inline-block;
            font-weight: lighter;
            margin-left: 15px;
            input {
                display: inline-block;
                margin-right: 5px;
                float: left;
            }
            span {
                display: inline-block;
                margin-top: 1px;
                float: left;
            }
        }
        .select-all {
            cursor: pointer;
        }
    }
}
.poi-editor {
    margin: 15px 0;
    /*background-color: #9E9E9E;
    display: none;*/
    .form-group {
        margin-top: 15px;
        margin-bottom: 0;
        overflow: hidden;
    }
    .alert {
        display: none;
        margin-top: 15px;
    }
}
.model-modal {
    .modal-content {
        width: 500px;
        h4 {
            background-color: #FFF;
            padding: 0;
            color: #16ADC5;
            border-bottom: 1px solid #16ADC5;
            padding-bottom: 10px;
            margin-bottom: 20px;
        }
    }
}