.map-search-container {

    .filter-bar {
        height: 44px;
        background-color: #E3EFFD;
        padding: 5px 15px;

        -webkit-box-shadow: -1px 2px 5px -2px rgba(0,0,0,0.75);
        -moz-box-shadow: -1px 2px 5px -2px rgba(0,0,0,0.75);
        box-shadow: -1px 2px 5px -2px rgba(0,0,0,0.75);

        position: relative;
        z-index: 10;

        .search {
            width: 300px;
            float:left;
            display: inline-block;
            border-radius: 0;
            padding-right: 40px;
        }

        .ui-menu .ui-menu-item {
            padding: 7px;
        }

        li {
            &.prop {
                padding: 7px;
                display: block;
                span {
                    display: inline-block;
                    &.name {
                        width: 250px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    &.text-muted {
                        width: 50px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }

            }
        }

        .fa-search {
            display: inline-block;
            color: #32a0f5;
            margin-left: -21px;
            padding: 10px 0;
            margin-right: 23px;
            float: left;
        }
        .dropdown {
            display: inline-block;
            padding: 0px 10px;
            float: left;
            margin-top: 3px;
            border-left: 1px solid white;
            button {
                padding: 6px;
                text-transform: uppercase;
                font-weight: normal;
                background-color: transparent;
                border: none;
                font-size: 12px;
                img {
                    float: left;
                    width: 24px;
                    height: 24px;
                    margin-right: 9px;
                    margin-top: -5px;
                }
            }
            &.listing-type {
                i.listing-type-sale {
                    color: #CC0000;
                }
                i.listing-type-rent {
                    color: #0088ff;
                    margin-right: 7px;
                }
                .checkbox {
                    i {
                        margin-right: 5px;
                    }
                }
            }
            &.save-dropdown {
                float: right;
                margin-top: -1px;

                .dropdown-menu {
                    left: auto;
                    right: 0;
                    width: 250px;
                    padding: 15px;

                    ul {
                        li {
                            .date {
                                text-align: right;
                                color: #999;   
                                font-style: italique;
                                margin-bottom: 0;
                                font-size: 11px;
                            }
                        }
                    }
                }
            }
            .dropdown-menu {

                border-radius: 0;
                padding: 5px 15px;
                width: 254px;

                &.trans-type {
                    padding: 15px;
                    .btn-img {
                        cursor: pointer;
                        width: 64px;
                        float: left;
                        height: 64px;
                        margin: 0 5px;
                        overflow: hidden;
                        &:hover {
                            border: 2px dashed #FFF;
                        }

                        &.bts {
                            img {

                            }
                        }
                        &.mrt {
                            img {
                                margin-top: 5px;
                            }
                        }
                    }
                }

                &.beds {
                    width: 50px;
                }

                &.more {
                    width: 350px;
                    padding: 20px 15px;
                    .form-group {
                        margin-left: 0;
                        margin-right: 0;
                    }
                    .filter-action {
                        margin-top: 20px;
                        .btn-apply {
                            background-color: #007ac1;
                            color: #FFF;
                        }
                    }
                    .col {
                        padding-left: 7px;
                        padding-right: 7px;
                    }
                }

                &.price {
                    width: 300px;
                    max-height: 450px;
                    overflow-y: scroll;
                    padding: 7px;
                    form {
                        border-bottom: 1px solid rgba(0,0,0,0.15);
                        overflow: hidden;
                        padding-bottom: 7px;
                        margin: 0 -7px;
                        .col-sm-6 {
                            padding: 5px 12px;
                        }
                    }
                    .list-group {
                        margin: 0px -7px -7px;
                        .list-group-item {
                            border: none;
                            /*border-top: 1px solid rgba(0,0,0,0.15);*/
                            border-radius: 0;
                            cursor: pointer;
                            &:first-child {
                                border-top: none;
                            }
                            &:hover {
                                background-color: #32a0f5;
                                color: #FFF;
                            }
                            &.inactive {
                                color: #999;
                                cursor: default;
                                &:hover {
                                    background-color: #FFF;
                                    color: #999;
                                }
                            }
                        }
                        &.max-prices {
                            .list-group-item {
                                text-align: right;
                            }
                        }
                    }
                }
                &.list-group {
                    padding: 0;
                    .list-group-item {
                        border-radius: 0;
                        border: none;
                        cursor: pointer;
                        &:hover {
                            background-color: #32a0f5;
                            color: #FFF;
                        }
                    }
                }
            }
        }
        .btn-map-search {
            border-radius: 0;
            background-color: #16ADC5;    
            color: #FFF;
            padding: 4px 12px;
            margin-top: 2px;
        }
        .search-action {
            float: right;
            background-color: transparent;
            border: none;
            padding: 6px 12px;
            margin-left: 7px;
            text-transform: uppercase;
            font-size: 12px;
            margin-top: 2px;
            font-weight: normal;
            &.saved {
                color: #FFF;
                background-color: #007ac1;
                padding: 6px 12px;
                .saved-count {
                    color: #fff604;
                    font-size: 15px;
                }
            }
            &.save {
                border-left: 1px solid white;
                padding-left: 22px;
            }
        }
    }
}

.search-result-container {
    overflow: hidden;
    float: left;
    width: 100%;
    table {
        width: 100%;
        .col-map {
            vertical-align: top;
            .map {
                width: 100%;
                &.map-container {
                    margin: 0;
                }
            }
        }
        .col-list {
            /*-webkit-box-shadow: -1px 0px 5px -1px rgba(0,0,0,0.75);
            -moz-box-shadow: -1px 0px 5px -1px rgba(0,0,0,0.75);
            box-shadow: -1px 0px 5px -1px rgba(0,0,0,0.75);*/
            background-color: #FFF;        
            vertical-align: top;
            overflow: hidden;

            .property-listing {
                width: 100%;
            }
        }
    }
    .map {
        &.map-container {
            position: relative;
            .map-tools {
                position: absolute;
                right: 10px;
                top: 10px;
                width: 28px;
                button {
                    border: none;
                    background-color: white;
                    width: 28px;
                    height: 28px;
                    margin-bottom: 7px;
                    display: table-cell;
                    vertical-align: middle;
                    line-height: 28px;
                    color: #333;
                    box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
                    border-radius: 2px;
                    &.more-maps {
                        width: 100px;
                        float: right;
                        line-height: 25px;
                    }
                }
            }
        }
        float: left;
    }
    .property-listing {
        box-sizing: border-box;
        padding: 10px;

        float: left;

        position: relative;



        .banner {
            background-color: cyan;
            height: 75px;
        }
        .nav {
            margin: 15px 0;
            li {
                a {
                    border-radius: 0;
                }
                &.active {
                    a {
                        background-color: #32a0f5;
                    }
                }
                &.more-filter {
                    .dropdown-menu {
                        left: auto;
                        right: 0;
                    }
                }
                .dropdown-menu {
                    li {
                        a {
                            background-color: #FFF;
                            font-weight: lighter;
                            &:hover {
                                background-color: #32a0f5;
                                color: #FFF;
                            }
                        }
                    }
                }
            }
        }
        .search-results {
            .property-item {
                width: 320px;
                height: 170px;
                margin-bottom: 10px;
                position: relative;
                overflow: hidden;
                color: #FFF;
                text-shadow: 1px 1px #000;
                background-color: #F2F2F2;

                &:nth-child(2n + 1) {
                    float: left;
                }
                &:nth-child(2n) {
                    float: right;
                }

                .img-count {
                    position: absolute;
                    top: 10px;
                    left: 10px;
                }
                .favorite-btn {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    background-color: transparent;
                    border: none;
                    .fa {
                        text-shadow: 0 0px 1px #000;
                    }
                }
                .details {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    padding: 10px;
                    .listing-type {
                        text-shadow: 0 0px 1px #FFF;
                        color: #0457a3;                        
                        &.sale {
                            color: #CC0000;
                        }
                        &.rent {
                            color: #0088ff;
                        }
                    }
                    .listing-price {
                        font-size: 30px;
                        margin-top: -2px;
                        display: inline-block;
                        margin-bottom: -10px;
                    }
                    .summary {
                        color: #EEE;
                        white-space: nowrap;
                        overflow: hidden;              /* "overflow" value must be different from "visible" */
                        text-overflow: ellipsis;
                        margin: 0;
                        background-color: transparent;
                        padding: 0;
                    }
                }
            }
        }
        .loading-results {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.25);
            p {
                margin-top: 200px;
                text-align: center;
                span {
                    padding: 6px 12px;
                    background-color: #FFF;
                    font-weight: normal;
                }
            }
        }

        .mCSB_outside + .mCSB_scrollTools {
            right: -3px;
            top: 10px;
            bottom: 10px;
        }
    }
}

.ui-widget.ui-widget-content {
    border: none !important;
}

.ui-autocomplete {
    &.map-search {
        width: 400px;
        max-height: 300px;
        border: none;

        -webkit-box-shadow: -1px 2px 5px -2px rgba(0,0,0,0.75);
        -moz-box-shadow: -1px 2px 5px -2px rgba(0,0,0,0.75);
        box-shadow: -1px 2px 5px -2px rgba(0,0,0,0.75);

        li.poi-item {            
            width: 400px;
            display: block;
            list-style-image: none;
            overflow: hidden;
            &:hover {
                background-color: #EEE;    
                span {
                    background-color: transparent;
                    border: none;
                    margin: 0;
                }
                margin: 0;
            }
            span {
                display: inline-block;
                height: 36px;
                float: left;
                padding: 8px;
                font-family: 'Signika', sans-serif;
                color: #000;
                background-color: transparent;

                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                &.icon {
                    width: 30px;
                    background-position: 10px 10px;
                    background-repeat: no-repeat;
                    background-size: 20px;
                    opacity: 0.25;
                    &.bts {
                        background-image: url('/img/maps/selected/bts.png');                        
                    }
                    &.mrt {
                        background-image: url('/img/maps/selected/mrt.png');                        
                    }
                    &.apl {
                        background-image: url('/img/maps/selected/apl.png');                        
                    }
                    &.bank {
                        background-image: url('/img/maps/selected/bank.png');                        
                    }
                    &.dept-store {
                        background-image: url('/img/maps/selected/departmentstore.png');                        
                    }
                    &.hospital {
                        background-image: url('/img/maps/selected/hospital-building.png');                        
                    }
                    &.school {
                        background-image: url('/img/maps/selected/school.png');                        
                    }
                }
                &.name {
                    width: 295px;
                }
                &.poi-type {
                    width: 75px;
                    text-transform: uppercase;
                    font-weight: lighter;
                    opacity: 0.54;
                }
                &.more {
                    width: 362px;
                    opacity: 0.54;
                    float: right;
                    font-size: 12px;
                    height: 24px;
                    padding: 0;
                }
                &.ui-state-active {
                    background-color: transparent;
                    margin: 0;
                    color: #000;
                    border: none;
                }

            }        
        }
    }
}

.search-results-pagination {
    padding: 5px;
    background-color: #F2F2F2;
    float: left;
    width: 100%;
    ul {
        list-style: none;
        li {
            float: left;
            padding: 4px 12px;
            background-color: #F2F2F2;
            margin-right: 5px;
            border: 1px solid #16ADC5;
            &.active {
                background-color: #16ADC5;
                color: #FFF;
            }
        }
    }
}

.option-dropdown {
    .search-option-row {
        margin-top: 5px;
        margin-bottom: 5px;
        .fa {
            margin-right: 3px;
            &.type-sale {
                color: #CC0000;
            }
            &.type-rent {
                color: #0088ff;
            }
        }
    }
    hr {
        margin: 5px 0;
    }
}
.infoBox {
    background: white;
    width: 250px;

    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    border-radius: 2px;


    .marker-info {
        height: 74px;
        padding: 5px;

        font-family: 'Signika', sans-serif;
        font-weight: lighter;

        .marker-img {
            width: 64px;
            height: 64px;
            float: left;
            margin-right: 10px;
            overflow: hidden;
            img {
                width: 64px;
            }
        }
        .marker-details {
            width: 165px;
            height: 64px;
            float: right;
            line-height: 1.4;
            .price {
                font-weight: normal;
            }
            h6 {
                margin-top: 2px;
                margin-bottom: 3px;
                line-height: 14px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 165px;
            }
        }

    }
}

.arthref {
    z-index: 5000;
}