.box {
    background-color: #FFF;
    padding: 15px;
}
.member-profile-header {
    .account-cover {
        position: relative;
        margin: -15px;
        margin-bottom: 0px;
        height: 300px;
        background-color: #8ccddb;
        overflow: hidden;

        .upload-trigger {
            position: absolute;
            top: 10px;
            left: 15px;
            color: #FFF;
            opacity: 0.85;
            font-size: 20px;
        }
        .cover-loading {
            position: absolute;
            top: 25px;
            right: 25px;
            width: 75px;
            display: none;
        }
    }
    .member-header {
        h4 {
            margin-left: 64px;
            /* overflow: hidden; */
            /* display: inline-block; */
            margin-top: 17px;
            border-bottom: 3px solid #E2E3E3;
            padding-bottom: 18px;
            padding-top: 10px;
            .fa {
                color: #7Bd0ED;
                font-size: 25px;
            }
        }
        .profile-picture {
            width: 200px;
            height: 200px;
            border: 7px solid #FFF;
            border-radius: 100px;
            margin-top: -110px;
            margin-right: 15px;
            position: relative;
            margin-left: 40px;
            float: left;
            margin-bottom: 20px;
            position: relative;
            overflow: hidden;
            background-color: #FF3B7C;

            .upload-trigger {
                position: absolute;
                top: 20px;
                left: 35px;
                color: #FFF;
                opacity: 0.85;
                font-size: 20px;
            }
        }
        table {
            margin-left: 46px;
            .table>tbody>tr>td {
                border-top: none;
            }
        }
    }
}


.listing-status-filter  {
    margin-top: 15px;
    background-color: #e2e3e3;

    .status-cell {
        background-color: #a6d1d8;
        text-align: center;
        font-weight: normal;
    }
    div.col-md-2 {
        padding: 10px;
    }
    div.col-md-2 input {
        margin-right: 7px;
    }
}

.listing-option-filter  {
    margin-top: 15px;

    .status-cell {
        text-align: center;
        font-weight: normal;
    }
    div.col-md-2{
        padding: 10px;
    }
    div.col-md-2 input {
        margin-right: 7px;
    }
}

.setting-table {
    tr {
        td {
            
            &:first-child {
                width: 200px;
            }

            &:last-child {
                width: 90px;
                text-align: center;
            }
            
            &.setting-data {
                vertical-align: middle;
                input, textarea  {
                    width: 100%;
                    background-color: #F2F2F2;
                    border: none;
                    padding: 5px 15px;
                }
                .chosen-container {
                    width: 100%;
                    background-color: #F2F2F2;
                    border: none;
                    padding: 5px 5px;
                    .chosen-choices {
                        border: none;
                    }
                }
                input.small {
                    width: 30%;
                    font-size: 100%;
                }
            }
        }
    }

}