.summary {
    padding: 15px;
    background-color: #bcedf6;
    h4 {
        margin-bottom: 15px;
    }
    .count {
        display: inline-block;
        padding: 3px 5px;
        background-color: #6f9097;
    }
}