.property-details {
    padding: 40px 5px;
    overflow: hidden;
    background-color: #FFF;
    .preview-header {
        margin-right: 0;
        margin-left: 0;
        padding: 0 10px;
        margin-bottom: 10px;
        .title {
            h3 {
                margin-top: 0;
            }
            .listing-type {
                padding: 4px 12px;
                background-color: #ff3955;
                color: #FFF;
            }
            button {
                background-color: transparent;
                border: none;
                margin-left: 15px;
                &.favorite {
                    color: #ff3955;
                }
                &.share {
                    color: #5b99a6;
                    font-weight: normal;
                }
            }
        }
        .listing-price {
            float: right;
            color: #949494;
            font-size: 20px;
            margin-top: 19px;
        }
    }
    .media-container {
        height: 400px;
        margin-bottom: 25px;

        .handler-container {

            position: relative;
            height: 0;           

            .handler {
                position: absolute ;
                padding: 7px 13px;
                color: #FFF;
                border: 1px solid #FFF;
                background-color: rgba(0,0,0,0.25);
                top: 179px;
                font-size: 25px;
                line-height: 25px;
                cursor: pointer;
                &.left {
                    left: 10px;
                    padding-right: 14px;
                    padding-left: 12px;
                }
                &.right {
                    right: 10px;
                    padding-left: 15px;
                    padding-right: 10px;
                }
            }
        }

        .media-slider-container {
            width: 100%;
            overflow: hidden;

            .media-slider {
                overflow: hidden;
                .media-group {
                    width: 300px;
                    float: left;
                    margin-right: 2px;
                    &.big-media {
                        width: 400px;
                    }
                    .small-media {
                        height: 199px;
                        overflow: hidden;
                        &:first-child {
                            margin-bottom: 2px;
                        }
                    }
                }
            }
        }
    }
    .details-container {
        .details-box {
            width: 810px;
            float: left;
            table {
                background-color: #def1f5;
                border: 1px solid #999;
                tr {
                    td {
                        border-right: 1px solid #999;
                        border-top: 1px solid #999;
                        font-weight: lighter;
                        &.plabel {
                            width: 20%;
                        }
                        &.value {
                            font-weight: normal;
                            width: 30%;
                        }
                        .property-map {
                            height: 500px;
                        }

                        .property-map-tools {
                            margin-top: 10px;
                            .btn-map-tool {
                                border-radius: 0;
                                color: #FFF;
                            }
                        }
                        .facility-item {
                            .icon-container {
                                width: 64px;
                                height: 64px;
                                overflow: hidden;
                                background-color: #EEE;
                                img {
                                    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
                                    filter: grayscale(100%);
                                    opacity: 0.5;
                                    width: 64px;
                                    height: 64px;
                                }
                            }
                            &.active {
                                img {
                                    -webkit-filter: grayscale(0%);
                                    filter: grayscale(0%);
                                    opacity: 1.0;
                                }
                            }
                        }
                    }
                    &.boder-bottom {
                        border: 1px solid #999;
                    }
                }
            }
        }
        .contact-box {
            width: 300px;
            border: 1px solid #999;
            float: right;
            background-color: #e8fbff;
            h4 {
                text-align: center;
                border-bottom: 1px solid #999;
                padding-bottom: 7px;
                text-transform: uppercase;
            }
            h5 {
                text-align: center;
                margin-bottom: 8px;
                font-size: 18px;
            }
            .contact-box-header {
                margin: 0;
                border-bottom: 1px solid #999;
                padding: 0 10px 10px;

                .tel-btn {
                    margin-top: 15px;
                    text-align: center;
                    button {
                        background-color: #5e9eaa;
                        color: #fcfd03;
                        border: none;
                        padding: 5px;
                        width: 120px;
                        border-radius: 5px;
                    }
                }
            }
            .contact-box-body {
                padding: 10px;
                .btn-send {
                    background-color: #5e9eaa;
                    color: #FFF;
                    i {
                        color: #fcfd03;
                    }
                }
            }
        }
    }
}
.similars {
    margin: 0;
    h4 {
        margin: 25px 0;
    }
    .similar-listings {

        .listing-item {
            width: 250px;
            height: 250px;
            position: relative;
            float: left;
            margin-right: 33px;
            background-color: #DDD;

            &:last-child {
                margin-right: 0;
            }           

            .listing-info {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(255, 255, 255, 0.6);
                padding: 6px 10px 3px;
                color: #000;
                .lname {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin: 0;
                }
            }
        }
    }
}

.big-map {
    .modal-dialog {
        width: 1040px;
        .big-map-container {
            height: 600px;
        }
    }
}
.property-details {
    table {
        background-color: #def1f5;
    }
    /**/
}
.train-list {
    .input-group {
        width: 100%;
        margin-bottom: 10px;
        .input-group-addon {
            width: 75px;
            border-radius: 0;
            background-color: rgb(135, 193, 231);
            color: #000;
            border: 1px solid #000;
        }
        /*.chosen-container-multi {
            .chosen-choices {
                border: 1px solid #FFF;
            }
        }*/
    }
}

.facility-item {
    height: 100px;
    background-color: transparent;
    position: relative;
    margin-bottom: 15px;
    img {
        -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
        filter: grayscale(100%);
        height: 73px;
    }
    span {
        padding: 3px 7px;
        text-align: center;
        font-size: 12px;
        display: inline-block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        max-height: 35px;
    }
    &.active {


        img {
            -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
            opacity: 1.0;
            opacity: 0.25;
        }
        span {

        }
    }
}