.registration-container {
    background-color: #FFF;
    padding: 25px 15px;

    h1 {
        margin: 10px 0;
    }

    .registration-title {
        font-size: 36px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .free-listing-hero {
        background-color: #565e60;
        /*margin-top: -25px;*/
        margin-left: -25px;
        margin-right: -25px;
        color: #FFF;
        padding: 50px 0;
        .radio {
            margin-top: 15px;
        }
        button, .listing-next {
            background-color: #8CCDDB;
            color: black;
            border: none;
            border-radius: 0;
            margin-top: 25px;
        }
        form {
            .user-type-owner {
                color: #ff2d6d;
            }
            .user-type-agent {
                color: #8cffd2;
            }
            .user-type-realestate {
                color: #8cfff8;
            }
            .user-type-developer {
                color: #def1f5;
            }
        }
    }

    .registration-banner {

        text-align: center;
        padding: 25px 0 15px;
        margin: 0 -15px;

        &.owner-banner {
            background-color: #48a6c0;
            color: #FFF;
        }
        &.agent-banner {
            background-color: #5baebc;
            color: #FFF;
        }
        &.realestate-banner {
            background-color: #45666b;
            color: #FFF;
        }
        &.developer-banner {
            background-color: #328073;
            color: #FFF;
        }

        h1 {
            font-family: Couture;
            font-size: 35px;
            font-weight: lighter;
        }
    }

    .registration-form-container {
        margin-top: 50px;
    }

    .registration-form {
        margin-bottom: 25px;
        input.form-control {
            border-radius: 0;
            box-shadow: none;
            border: 2px solid #afe9ff;
        }
        .btn {
            padding: 5px 12px;
            background-color: #a4a4a4;
            color: #000;
            border-radius: 0;
            box-shadow: none;
            border: 2px solid #a4a4a4;
            &.upload {
                background-color: #afe9ff;
                border: 2px solid #afe9ff;
                color: #fff;
            }
        }
        
        &.register-action {
            margin-top: 25px;
        }
    }

    .auth-container {
        background-color: #FFF;
        padding: 25px;

        h1 {
            margin: 10px 0;
        }
    }
}