$mainBlue : #16ADC5;

@font-face {
    font-family: Couture;
    src: url("/fonts/couture-bld.otf") format("opentype");
}

@font-face {
    font-family: CoutureItalic;
    font-weight: bold;
    src: url("/fonts/couture-bldit.otf") format("opentype");
}

body {
    font-family: 'Signika', sans-serif;
    font-weight: lighter;
    background-color: #f1f1f1;
}

.btn-blue {
    background-color: #16adc5;
    color: #FFF;
}

.form-control-feedback {
    top: 0;
    font-size: 18px;
    color: #999;
}

.medium-container {
    margin: 0 85px;
    background-color: #FFF;    
    
}

@import "map-search.scss";
@import "mainmenu.scss";
@import "home.scss";
@import "property-preview.scss";
@import "property-details.scss";
@import "condo-details.scss";
@import "agent-details.scss";
@import "errors.scss";
@import "manager.scss";

@import "src/manager-sidebar.scss";
@import "src/manager.scss";
@import "src/manager-facility.scss";
@import "src/manager-listing.scss";
@import "src/manager-order.scss";
@import "src/manager-banner.scss";
@import "src/member-buy-package.scss";
@import "src/posting.scss";
@import "src/register.scss";
@import "src/bswizard.scss";
@import "src/banner.scss";

@import "src/visitor-agent.scss";

@import "member-sidebar.scss";
@import "member-profile.scss";
@import "member-header.scss";
@import "src/manager.scss";
@import "registration.scss";
@import "footer.scss";

