.list-group {
    &.manager-sidebar {
        background-color: #bdcdd1;
        padding: 10px 0;
        margin-bottom: 0;
        h5 {
            padding: 10px;
            background-color: rgba(255, 255, 255, 0.3);
        }
        .list-group-item {
            border: none;
            background-color: #bdcdd1;
            font-weight: normal;
            padding: 4px 12px;
            &:hover {
                color: #2196F3;
            }
            &.active {
                color: #000;
                background-color: #FFF;
                margin: 0 5px;
            }
        }
    }
}
