.manager-content {
    background-color: #FFF;
    /*padding-top: 25px;*/
    padding-bottom: 25px;
    h3 {
        margin-bottom: 25px;
    }
    h4 {
        margin-bottom: 25px;
        background-color: #F9F9F9;
        padding: 6px 12px;
        &.blue {
            background-color: #FFF;
            color: #139aca;
            border-bottom: 1px solid #139aca;
        }
    }
    .toolbar {
        margin-bottom: 15px;
        background-color: #F9F9F9;
        font-weight: normal;
        /*overflow: hidden;*/
        .input {
            margin-right: 15px;
            input {
                &.search {
                    margin-top: 3px;
                    display: block;
                    width: 250px;
                }
            }
        }
        .input-label {
            display: inline-block;
            margin-right: 5px;
            margin-top: 10px;
        }
        .btn {
            text-transform: uppercase;
            padding: 5px 12px;
            margin-top: 4px;
            margin-right: 5px;
        }
    }
    .nav-tabs {
        margin-bottom: 25px;
    }
    .danger-zone {
        margin-top: 25px;
        background-color: #FFCDD2;
        padding: 15px;
        color: #333;
    }
    .table-list {
        thead {
            background-color: #2b89ad;
            color: #FFF;
            tr {
                th {
                    border-bottom: none;
                    a {
                        color: #FFF;
                        &.sortable {
                            display: inline-block;
                            width: 100%;
                        }
                    }
                }
            }
        }
        tbody {
            tr {
                td {
                    border-top: none;
                }
                &:nth-child(2n) {
                    background-color: #F9F9F9;
                }
            }
        }
        .medium-col {
            width: 200px;
        }
        .small-col {
            width: 100px;
        }
        .tiny-col {
            width: 75px;
        }
        .icon-col {
            width: 50px;
            text-align: center;
        }
        .check-col {
            width: 30px;
            text-align: center;
        }
        .lang-col {
            width: 161px;
            vertical-align: center;
            .trans {
                width: 140px;
                height: 20px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

        }
    }
    .model-details {
        background-color: #F9F9F9;
        tr {
            td {
                &:first-child {
                    width: 150px;
                    font-weight: normal;
                }
            }
        }
    }
    .form-container {
        margin: 25px 0;
    }
    .table-filter {
        tr {
            td {
                border-top: none;
                input {
                    display: inline-block;
                    margin-right: 10px;
                }
                &.filter-all {
                    width: 75px;
                }
                &.filter {
                    width: 150px;
                }
                &.filter-label {
                    width: 100px;
                    font-weight: normal;
                }
            }

        }
    }
    .btn-white {
        background-color: transparent;
        color: #000;
    }
    .review-media-list {
        overflow: hidden;
        margin-bottom: 25px;
        .media-item {
            width: 112px;
            height: 112px;
            float: left;
            margin: 5px;    
            padding: 5px;
            border: 1px solid #F9F9F9;
            position: relative;
            .rm-media {
                position: absolute;
                top: 0;
                right: 0;
                color: red;
                padding: 2px 6px;
                background-color: rgba(255, 255, 255, 0.5);
            }
        }
    }
    .push-below {
        margin-bottom: 25px;
    }
    .input-group {
        width: 100%;
    }
    .lang-addon {
        width: 45px;
    }
}
.manager-help {
    border: 1px dashed #EEE;
    padding: 6px 12px;
    color: #999;
}
.btn-upload {
    background-color: rgb(13, 103, 144);
    color: #FFF;
    font-weight: lighter;
}
.manager-setting-preview {
    position: relative;
    a {
        &.delete {
            position: absolute;
            color: red;
            top: 5px;
            left: 5px;
            display: inline-block;
            background-color: #FFF;
            padding: 0 3px;
        }
    }
}