.banner-create-box {
    margin: 30px 25px 0; 
    
    .banner-preview-container {
        margin: 15px 0;
        max-height: 100px;
        overflow: hidden;
    }
    .alert {
        display: none;
    }
}

