.order-customer-setting {
    .col-sm-8, .col-sm-4 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .customer-account {
        margin: 25px 0;
        padding: 25px 15px;
        background-color: #F7F7F7;
        border: 1px solid #DFDFDF;
    }
    .btn-dark {
        background-color: #535353;
        color: #FFFFFF;
    }
    .fa-circle {
        color: #8A8A8A;
    }
}

