.package-box {
    padding: 15px;
    h1 {
        text-transform: uppercase;
        text-align: center;
        font-size: 25px;
        margin: 15px 0 25px;
    }
    .small-crumb {
        margin-bottom: 25px;        
        span {
            padding: 6px 12px;
            display: inline-block;
            border: 3px solid #0594cb;
            text-transform : uppercase;
            color: #0594cb;
            width: 150px;
            text-align: center;
            &.active {
                background-color: #0594cb;
                color: #FFF;
            }
        }
    }
    .ad-container {
        background-color: #F1F1F1;
        margin-bottom: 50px;
        .package-selector {
            span {
                padding: 6px 12px;
                display: inline-block;
                border: 2px solid #F1F1F1;
                text-transform : uppercase;
                color: #b0b0b0;
                width: 150px;
                text-align: center;
                &.active {
                    background-color: #FFF;
                    color: #2c2c2c;
                    border: 2px solid #2c2c2c;
                }
            }
        }
        .poster {
            margin-bottom: 25px;
        }
    }
    .package-stepper {
        overflow: hidden;
        position: relative;
        .header {
            text-align: center;
            .step {
                padding: 5px;
                width: 150px;
                background-color: #44b2cd;
                display: inline-block;
                text-align: center;
                font-weight: bold;
            }
        }

        .footer {
            position: absolute;
            text-align: center;
            top: 110px;
            left: 0;
            right: 0;
            span {
                display: inline-block;
                text-align: center;
                border: 1px solid #4bacc2;
                color: #4bacc2;
                width: 32px;
                height: 32px;
                border-radius: 16px;
                background-color: #FFF;
                i {
                    font-size: 26px;
                    margin-left: 3px;
                    margin-top: 1px;
                }
            }
        }

        span.arrow {

        }
        .step-container {
            margin-top: -15px;
            .step {
                width: 50%;
                float: left;
                text-align: center;
                span {
                    width: 120px;
                    height: 120px;
                    display: inline-block;
                    border-radius: 60px;
                    margin-bottom: 60px;
                    margin-top: 50px;
                    border: 1px solid #FFF;
                    overflow: hidden;
                    img {
                        width: 60px;
                        margin: 30px;
                    }
                }
                &.step-1 {
                    background-color: #d9ebef;
                }
                &.step-2 {
                    background-color: #b3e2ec;
                }
            }
        }
    }
    .package-action {
        a {
            margin-right: 25px;
        }
    }
}

.package-list {
    margin-top: 25px;
    padding-top: 25px;
    margin-bottom: 25px;
    overflow: hidden;

    .package-container {
        width: 260px;
        float: left;
        color: #FFF;
        margin: 0 25px;

        &.featured {
            &:nth-child(1) {
                background-color: #44b2cd; 
                .listing-container { 
                    background-color: #3ba7c1;
                }
            }
            &:nth-child(2) {
                background-color: #439ecb;
                .listing-container { 
                    background-color: #3e91bd;
                }
            }
            &:nth-child(3) {
                margin-right: 0;
                background-color: #286FBC;
                .listing-container { 
                    background-color: #205CA2;
                }
            }
        }

        &.exclusive {
            
            margin-bottom: 30px;

            background-color: rgb(55, 140, 191); 
            .listing-container { 
                background-color: rgb(50, 126, 175);
            }
            &:nth-child(3n) {
                margin-right: 0;
            }
        }

        .listing-container {
            padding: 15px;
            text-align: center;

            font-size: 25px;
            text-transform: uppercase;
            position: relative;
            .free-listing-count {
                position: absolute;
                background-color: #A5DCE7;
                border: 2px solid #000;
                color: #000;
                padding: 3px 10px;
                font-size: 15px;
                top: -15px;
                right: -10px;
            }
        }

        .price-container {            
            position: relative;
            padding-top: 50px;

            .old-price {
                position: absolute;
                display: block;
                text-align: center;
                top: 20px;
                font-size: 30px;
                color: #C3D2DD;
                left: 80px;
                right: 80px;
                &::after{
                    content: '';
                    border-bottom: 3px solid #000;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    width: 100%;
                    -webkit-transform:rotate(-7deg);
                    -moz-transform:rotate(-7deg);
                    -ms-transform:rotate(-7deg);
                    -o-transform:rotate(-7deg);
                    transform:rotate(-7deg);
                }
            }

            .actual-price {
                display: block;
                font-size: 60px;
                text-align: center;
            }

            .percent-box {
                position: absolute; 
                display: block;
                background-color: #FFF948;
                width: 60px;
                height: 60px;
                top: -15px;
                right: 10px;
                border-radius: 30px;
                color: #3e91bd;
                text-align: center;
                font-size: 20px;
                font-weight: normal;
                box-sizing: border-box;
                padding-top: 13px;
                line-height: 20px;

                -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
                box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);

            }
            .currency {
                text-align: right;
                margin-top: -15px;
                padding: 0 25px;
            }
            .per-month {
                color: #000;
                text-align: center;
                text-transform: uppercase;
                font-size: 20px;
            }
            .select-package {
                color: #FFF948;
                text-align: center;
                font-size: 25px;
                margin: 20px 0;
                .package-checkbox {
                    cursor: pointer;
                }
            }
        }
    }
}
.package-price-details {
    margin: 50px 75px;
    table {

        tr {
            td {
                border-top: none;
                padding: 0 8px;
                div {
                    background-color: rgb(212, 247, 253);
                    margin-bottom: 5px;
                    padding: 15px 20px;
                    &.total-amount {
                        background-color: rgb(103, 168, 184);
                        font-weight: normal;
                        color: #FFF;
                    }
                }
                &:first-child {
                    padding-right: 25px;
                }
                &:nth-child(2) {
                    width: 200px;
                }
            }
        }
    }
}
.package-payment-option {
    margin: 50px 80px;
    padding: 0 25px;
    .radio {
        margin-bottom: 25px;
        label {
            input {
                display: inline-block;
                margin-right: 50px;
            }
        }
    }
}
.package-bank-accounts {
    margin: 50px 80px;
    padding: 25px;
    border: 2px solid rgb(189, 218, 229);

    table {

        tr {
            td {
                &:first-child {
                    vertical-align: middle;
                    width: 50px;
                    text-align: center;
                }
                border-top: none;
                padding: 0;
                .bank {
                    padding: 10px 15px;
                    color: #000;
                    font-weight: lighter;
                    margin: 12px;
                    position: relative;
                    background-color: #F0F0F0;
                    img {
                        display: none;
                    }
/*                    &.kbank {
                        background-color: rgb(51, 153, 42);
                        img {
                            width: 75px;
                            right: 30px;
                        }
                    }
                    &.scb {
                        background-color: #4b2785;
                        img {
                            width: 75px;
                            right: 30px;
                        }
                    }
                    &.bbl {
                        background-color: rgb(8, 56, 145);
                        img {
                            right: 26px;
                            width: 80px;
                        }
                    }*/
/*                    img {
                        position: absolute;
                        top: 15px;                        
                    }*/
                }
            }
        }
    }    
}

.package-bank-accounts {
    display: none;
}

.package-paysbuy {
    /*display: none;*/
    text-align: center;
    padding: 25px;
    margin-bottom: 25px;
    .btn-paysbuy {
        border: 1px solid #F2F2F2;
        background-color: #F9F9F9
    }
}

.payment-warning {
    margin: 0 80px 25px;
}
.step-title {
    span {
        background-color: #454545;
        text-transform: uppercase;
        color: #FFF;
        padding: 2px 12px;
        display: inline-block;
        font-size: 20px;
        font-weight: normal;
        margin-left: 70px;
    }
}
.package-method-list {
    margin: 20px 80px;
    em {
        color: #4b9bbe;
        font-style: normal;
        font-weight: normal;
    }
}