.posting-container {

    background-color: #FFF;

    .top-title {
        text-align: center;
        font-size: 25px;
        margin: 50px 0;
        text-transform: uppercase;
        em {
            font-style: normal;
            color: #008cb2;
        }
    }

    .listing-crumb {
        margin-bottom: 25px;        
        span {
            padding: 6px 12px;
            display: inline-block;
            border: 3px solid #0594cb;
            text-transform : uppercase;
            color: #0594cb;
            width: 150px;
            text-align: center;
            &.active {
                background-color: #0594cb;
                color: #FFF;
            }
        }
    }

    .property-types {
        text-align: center;
        margin: 15px;
        padding: 15px 25px 25px;;
        border: 1px solid rgb(66, 129, 163);

        h5 {
            margin-bottom: 25px;
            text-align: left;
            color: rgb(0, 130, 193);
        }

        .btn {
            display: inline-block;
            padding: 15px 0;
            margin: 0 6px;
            border: 1px solid #C1C1C1;
            width: 125px;
            border-radius: 0;
            background-color: #FFF;
            &.btn-selected {
                background-color: #16ADC5;
                color: #FFF;
                border: 1px solid #16ADC5;
            }
            img {
                max-width: 64px;
                margin-bottom: 10px;
            }

        }
    }

    h5 {
        &.posting-label {
            text-transform: uppercase;
            color: #2faac8;
            .required {
                color: #FF0303;
            }
        }
    }
    .posting_error {
        font-weight: lighter;
        margin-top: 7px;
        padding: 5px 10px;
        background: #FFE9E8;
        color: #AA0114;
        display: none;
    }
    .posting-nav {
        margin-bottom: 25px;
        .listing-next {
            margin-top: 0;
        }
    }
}
.btn-cyan {
    background-color: #afe9ff;
    color: #000;
    border-radius: 0;
    border: none;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; max-height: 400px}
.autocomplete-suggestion { padding: 4px 7px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

.required-condo-name {
    display: none;
}

.input-lang {
    display: none;
    &.input-lang-th {
        display: block;
    }
    &.input-lang-en {
        display: block;
    }
}