.free-listing-hero {
    background-color: #565e60;
    margin-top: -25px;
    margin-left: -25px;
    margin-right: -25px;
    color: #FFF;
    padding: 50px 0;
    .radio {
        margin-top: 15px;
    }
    button {
        background-color: #8CCDDB;
        color: black;
        border: none;
        border-radius: 0;
        margin-top: 25px;
    }
    .user-type-owner {
        color: #ff2d6d;
    }
    .user-type-agent {
        color: #8cffd2;
    }
    .user-type-realestate {
        color: #8cfff8;
    }
    .user-type-developer {
        color: #def1f5;
    }
} 

.listing-next {
    background-color: #8CCDDB;
    color: black;
    border: none;
    border-radius: 0;
    margin-top: 25px;
}