.agent-container {
    background-color: #FFF;

    h1 {
        font-size: 30px;
        margin: 40px 10px 30px;
        font-weight: lighter;
    }

    h3 {
        color:#248292;
        font-size:20px;
        text-transform:uppercase;
        margin:30px auto;
    }

    .search-filter-titles {
        margin-left: -10px;
        margin-right: -10px;
        label {
            text-transform: uppercase;
        }
    }
    .search-filters {
        background-color: #F2F2F2;
        padding: 7px 25px;
        margin: 5px -15px 15px;
        overflow: hidden;
        form {
            margin-bottom: 0;
            .col {
                padding-left: 5px;
                padding-right: 5px;
                input {
                    width: 100%;
                    border-radius: 0;
                }
            }
            .agent-types {
                border-right:1px solid white;
                width: 230px;
                margin-top: 6px;
                label {
                    display: inline-block;
                    padding: 0 10px;
                    font-weight: lighter;
                    cursor: pointer;
                    &.active {
                        color: #1677e3;
                        border-bottom:1px solid #1677e3;                        
                    }
                }
            }
            button {
                padding: 7px 12px;
                border-radius: 0;
                background-color: #999;
                color: #FFF;
                border: none;
            }
        }
    }
    .agent-list {
        .agent-cell {

            height: 500px;
            border:1px solid #38A8D4;
            margin-bottom: 30px;
            position: relative;

            .rating {
                padding: 7px 10px;
                text-align: right;
                width: 100%;
                i {
                    color: #CCC;
                    font-size: 16px;
                    &.active {
                        color:#17AEC5;
                    }
                }
            }
            .agent-picture {
                margin-top: 5px;
                a {
                    display: block;
                    width: 150px;
                    height: 150px;
                    margin: 0 auto;
                    text-align: center;
                    overflow: hidden;

                    img {
                        max-height: 100%;
                        max-width: 100%;
                    }
                }
            }
            .agent-name {
                font-size:24px;
                font-weight:bold;
                color:#38A8D4;
                text-align: center;
                margin-top: 15px;
            }
            .agent-stat {
                margin-top: 10px;

                .agent-status {
                    text-align: right;
                    .verified {
                        background-color: #6f9097;
                        color: #FFF;
                        padding: 2px 5px;
                    }
                }
                .agent-posts {
                    color: #808080;
                    text-align: center;
                }
            }
            .agent-info {
                margin-top: 25px;
                p {
                    margin: 10px 15px;
                    line-height: 20px;
                    &.tags {
                        max-height: 40px;
                        overflow: hidden;
                        em {
                            color: #008cb2;
                            font-weight: normal;
                            font-style: normal;
                        }
                    }
                    &.agent-intro {
                        max-height: 60px;
                        overflow: hidden;
                    }
                }

            }
            .btn-details {
                position: absolute;
                bottom: 10px;
                right: 10px;
                background-color: #3ea8d2;
                color: #FFF;
                padding: 5px 12px;
                border-radius: 0;
            }
        }

    }
    .agent-list-pagination {
        width: 100%;
        overflow: hidden;
        text-align: center;
        .pagination {
            margin: 20px auto;
        }
    }
}